{% extends 'base.html' %}

{% block content %}

    <h1> 实时视频流</h1>
<!--    <video id="video" width="640" height="480" autoplay></video>-->
<!--    <img src="{{url_for('static', filename= 'foo.png')}}" class="footimg">-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>-->
<!--    <script>-->
<!--        let socket = io.connect('http://' + document.domain + ':' + location.port);-->

<!--        socket.on('connect' , function (){-->
<!--            console.log('video connected!');-->
<!--        });-->

<!--        let video = document.getElementById('video');-->
<!--        socket.on('video_frame',function (data){-->
<!--            let arrayBufferView = new Uint8Array(data);-->
<!--            let blob = new Blob([arrayBufferView],{type:'image/jpeg'});-->
<!--            let video_url = "{{video_feed_url}}";-->
<!--            video.src=video_url;-->
<!--        });-->
<!--    </script>-->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <img id="video" src="{{ url_for('video_feed') }}" width="100%">
            </div>
        </div>
    </div>
{% endblock %}